/.metadata
/target

/.ucdetector_reports

/ply-experiments

/ply/target
/ply/.project
/ply/.settings
/ply/.classpath

/ply-examples/target
/ply-examples/.project
/ply-examples/.settings
/ply-examples/.classpath
